<section class="animate-fade-in min-h-dvh w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">Every</h1>
    <h3 class="mt-5 text-lg">
      El método <span class="font-bold text-red-500">every() </span> es parecido
      al some(), ya que itera el array y retorna un booleano. Pero esta vez,
      para que dicho booleano sea true todos los elementos del array deberán
      pasar la condición dada.
    </h3>
  </hgroup>
  <p class="py-5">
    Array original: <strong>{{ numbers() | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método every en el cual le decimos que si todos los
    elementos del array son mayores de 2:
    <strong>{{ isGreaterThanTwo | json }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/every.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
