<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">Filter</h1>
    <h3 class="mt-5 text-lg">
      El método <span class="font-bold text-red-500">filter() </span> crea un
      nuevo array con los resultados de la llamada a la función indicada
      aplicados a cada uno de sus elementos.
    </h3>
  </hgroup>
  <p class="py-5">Array original: <strong></strong></p>
  <p class="py-5">
    Array utilizando el método map en el cual sumamos +1 a cada elemento del
    array original: <strong></strong>
  </p>
  <figure class="py-5">
    <img
      class="rounded-xs border p-1"
      src="./assets/images/map.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
