<section class="animate-fade-in min-h-dvh w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">reverse</h1>
    <h3 class="mt-5 text-lg">
      El método <span class="font-bold text-red-500">reverse() </span> invierte
      el orden de los elementos de un array. El primer elemento pasa a ser el
      último y el último pasa a ser el primero.
    </h3>
  </hgroup>
  <p class="py-5">
    Array original<strong>: {{ numbersOriginal | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método reverse:
    <strong> {{ resultArray | json }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/reverse.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
