<footer
  class="bg-base-300 flex items-center justify-center rounded-xl shadow-lg"
>
  <p class="flex items-center justify-center gap-2.5">
    Copyright &#169; {{ year() }} - Desarrollado con
    <span
      class="flex items-center text-red-600 transition-all duration-300 hover:scale-150"
      >❤</span
    >
    <a
      title="Perfil de github"
      class="transition-all duration-500 hover:scale-125"
      aria-label="Perfil personal de github"
      href="https://github.com/Solomon90s"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg width="25" height="25">
        <use xlink:href="./assets/sprite-new.svg#github_dark" />
      </svg>
    </a>
  </p>
</footer>
