<footer
  class="footer sm:footer-horizontal bg-base-300 text-neutral-content flex items-center justify-center rounded-xl p-4"
>
  <aside class="grid-flow-col items-center">
    <p>
      Copyright &#169; {{ year() }} - Desarrollado con
      <span class="text-red-600">❤</span>
    </p>
  </aside>
  <nav class="grid-flow-col gap-2 md:place-self-center md:justify-self-end">
    <a
      class="transition-all duration-500 hover:scale-125"
      aria-label="Perfil personal de github"
      href="https://github.com/Solomon90s"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg width="25" height="25">
        <use xlink:href="./assets/sprite-new.svg#github_dark" />
      </svg>
    </a>
  </nav>
</footer>
