<section class="animate-fade-in transition-all">
  <hgroup class="my-10">
    <h1 class="text-center text-4xl font-bold underline">
      Métodos de arrays en Javascript y Typescript
    </h1>
    <p class="text-center">
      Los ejemplos están hechos con
      <strong>
        <a
          title="Documentación sobre signals"
          href="https://certidevs.com/tutorial-angular-signals-creation"
          target="_blank"
          rel="noopener noreferrer"
          >signals</a
        ></strong
      >.
    </p>
  </hgroup>
  <app-table />
</section>
