<section class="animate-fade-in h-[100vh] w-full flex-row px-10 transition-all">
  <hgroup>
    <h1>Concat</h1>
    <h3>
      El método <span>concat() </span> se utiliza para unir dos o más arrays.
      Este método no cambia los arrays existentes, sino que devuelve un nuevo
      array.
    </h3>
  </hgroup>
  <p>
    Primer array original: <strong>{{ firstNumbers() | json }}</strong>
  </p>
  <p>
    Segundo array original: <strong>{{ secondNumbers() | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método concat en el cual concatena ambos arrays:
    <strong>{{ resultArray | json }}</strong>
  </p>
  <figure>
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/concat.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
