<section class="animate-fade-in min-h-dvh w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">indexOf</h1>
    <h3 class="mt-5 text-lg">
      El método
      <span class="font-bold text-red-500">indexOf() </span> retorna el primer
      índice en el que se puede encontrar un elemento dado en el array, ó
      retorna -1 si el elemento no esta presente.
    </h3>
  </hgroup>
  <p class="py-5">
    Array original: <strong>{{ names() | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al usar el método indexOf:
    <strong>{{ resultArray | json }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/indexOf.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
