<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1>fill</h1>
    <h3>
      El método <span>fill() </span> cambia todos los elementos de un array por
      un valor estático, desde el índice de inicio hasta el índice final.
      Devuelve el array modificado.
    </h3>
  </hgroup>
  <p>
    Array original:<strong> {{ numbersOriginal() | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método fill:
    <strong> {{ fillWithTen | json }}</strong>
  </p>
  <figure>
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/fill.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
