<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">from</h1>
    <h3 class="mt-5 text-lg">
      El método
      <span class="font-bold text-red-500">from() </span> crea una nueva
      instancia de Array a partir de un objeto iterable.
    </h3>
  </hgroup>
  <p class="py-5">
    Propiedad:<strong> {{ framework() | titlecase }}</strong>
  </p>
  <p class="py-5">
    Resultado de utilizar el método from:<strong>
      {{ resultArray | json }}</strong
    >
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/from.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
