<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">ForEach</h1>
    <h3 class="mt-5 text-lg">
      El método <span class="font-bold text-red-500">forEach() </span> permite
      iterar el contenido de un array. Recibe un callback que toma como
      parámetro el elemento actual de la iteración y el indice del mismo.
    </h3>
  </hgroup>
  <p class="py-5">
    Array original:<strong> {{ fruits() | json }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/forEach.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/result-forEach.webp"
      alt="Viendo resultado en la consola del desarrollador"
    />
    <figcaption>
      Viendo el resultado de usar el forEach en la consola del desarrollador.
    </figcaption>
  </figure>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/forEach-length.webp"
      alt="Número de elementos del array."
    />
    <figcaption>Número de elementos del array.</figcaption>
  </figure>
</section>
