<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1>lastIndexOf</h1>
    <h3>
      El método
      <span>lastIndexOf() </span> busca un elemento en un array y devuelve su
      posición. Comienza buscando por el final del array. Retorna -1 si el
      elemento no se encontrara.
    </h3>
  </hgroup>
  <p>
    Array original:<strong> {{ fruits | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método lastIndexOf:
    <strong> {{ resultArray | json }}</strong>
  </p>
  <figure>
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/lastIndexOf.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
