<section class="animate-fade-in min-h-dvh w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">shift</h1>
    <h3 class="mt-5 text-lg">
      El método <span class="font-bold text-red-500">shift() </span> elimina el
      primer elemento del array y lo retorna. Este método modifica la longitud
      del array.
    </h3>
  </hgroup>
  <p class="py-5">
    Array original<strong>: {{ fruitsOriginal | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método shift:
    <strong> {{ fruits() | json }}</strong>
  </p>
  <p class="py-5">
    Longitud del array después de utilizar el método shift:
    <strong> {{ fruits().length | json }}</strong>
  </p>
  <p class="py-5">
    Elemento eliminado usando el método shift:
    <strong> {{ elementDeleted() }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/shift.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
