<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1>Sort</h1>
    <h3>
      El método <span>sort() </span> ordena los elementos del array y retorna el
      arreglo ordenado. Los elementos se ordenarán en orden ascendente (de la A
      a la Z) por defecto.
    </h3>
  </hgroup>
  <p>
    Array de números original:<strong> {{ numbers | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método sort y ordenar los números de manera
    descendente:
    <strong> {{ numbersCloned | json }}</strong>
  </p>
  <p>
    Array de letras original:<strong> {{ alphabets | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método sort y ordenar las letras de manera
    ascendente:
    <strong> {{ ascAlphabets | json }}</strong>
  </p>
  <figure>
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/sort.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
