/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "@midudev/tailwind-animations";

@theme {
  --font-sans: "Jost", serif, system-ui;
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Jost-Medium.woff2") format("woff2");
  }
}

strong {
  color: red;
}

@layer base {
  h1 {
    @apply text-center text-5xl font-bold tracking-wide text-balance underline;
  }

  h3 {
    @apply mt-5 text-lg tracking-wide text-balance;
  }

  p {
    @apply py-5 text-[1.1rem] tracking-wide text-pretty;
  }

  figure {
    @apply py-5;
  }

  span {
    @apply font-bold text-red-500;
  }

  th {
    @apply text-[1rem] tracking-wide;
  }

  td {
    @apply text-[1rem];
  }
}
