<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1>flat</h1>
    <h3>
      El método
      <span>flat() </span> crea una nuevo array con todos los elementos de
      sub-array concatenados recursivamente hasta la profundidad especificada.
    </h3>
  </hgroup>
  <p>
    Array original:<strong> {{ numbersOriginal | json }}</strong>
  </p>
  <p>
    Resultado al utilizar el método flat:
    <strong> {{ resultArray | json }}</strong>
  </p>
  <figure>
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/flat.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
