<section>
  <div class="overflow-x-auto">
    <table class="table-md table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Método</th>
          <th>Ejemplo</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <!--! iteramos con @for-->
        @for (method of methods(); track method.id; let i = $index) {
          <tr>
            <td>{{ method.id }}</td>
            <td>{{ method.name }}</td>
            <!-- <td>
              <a routerLink="{{ method.route }}">{{ method.route }}</a>
            </td> -->
            <a routerLink="{{ method.route }}">{{ method.name }}</a>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
