<section class="animate-fade-in w-full flex-row px-10 transition-all">
  <hgroup>
    <h1 class="text-3xl font-bold">toSorted</h1>
    <h3 class="mt-5 text-lg">
      El método
      <a
        aria-label="JavaScript toSorted method"
        href="https://www.zetcode.com/js-array/tosorted/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="font-bold text-red-500">toSorted() </span> nos permite
      </a>
      ordenar un array. Devuelve un nuevo array con los elementos ordenados y no
      modifica el original. Igual que el método sort() clásico, podemos pasarle
      una función de comparación para ordenar los elementos..
    </h3>
  </hgroup>
  <p class="py-5">
    Array de números original:<strong> {{ numbers | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método toSorted y ordenar los números de manera
    ascendente:
    <strong> {{ ascNumbers | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método toSorted y ordenar los números de manera
    descendente:
    <strong> {{ descNumbers | json }}</strong>
  </p>
  <p class="py-5">
    Array de letras original:<strong> {{ alphabets | json }}</strong>
  </p>
  <p class="py-5">
    Resultado al utilizar el método toSorted y ordenar las letras de manera
    ascendente:
    <strong> {{ ascAlphabets | json }}</strong>
  </p>
  <figure class="py-5">
    <img
      loading="lazy"
      class="rounded-xs border p-1"
      src="./assets/images/toSorted.webp"
      alt="Ejemplo de código en typescript"
    />
    <figcaption>Ejemplo de código en el componente de typescript.</figcaption>
  </figure>
</section>
